@font-face {
  font-family: "Shabnam";
  src: url(../fonts/Shabnam.woff) format("woff"),
    url(../fonts/Shabnam.ttf) format("ttf"),
    url(../fonts/Shabnam.eot) format("eot");
  font-weight: normal;
}

/* latyout */
* {
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
}

.container-fluid {
  padding: 0;
  height: 100%;
  display: flex;
  display: flex;
  justify-content: start;
}

.container-fluid .form-side {
  width: 45%;
  height: 100%;
}

.container-fluid .radar-side {
  width: 55%;
  height: 100%;
  background: linear-gradient(45deg, #28bbee, #9bf0dd);
}

/* form-side - login word*/
.form-side {
  direction: rtl;
  display: flex;
  flex-direction: column;
}

.form-side .top-form {
  height: 31%;
  display: flex;
}

.form-side .top-form .login-word {
  margin-top: 10%;
  margin-right: 16%;
}

.form-side .top-form .login-word span {
  color: #0192ed;
  font-family: Shabnam;
  font-weight: bold;
  font-size: larger;
}

/* form-side - login form texts*/
.form-side .form {
  height: 69%;
  display: flex;
  flex-direction: column;
}

.form-side .form .form-top-text {
  height: 18%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  margin-right: 16%;
}

.form-side .form .form-top-text span {
  font-family: Shabnam;
  font-weight: bold;
  font-size: larger;
  color: #424242;
}

.form-side .form .form-top-text p {
  font-family: Shabnam;
  color: #9e9e9e;
  font-size: 14px;
}

/* form-side - login form inputs*/
.form-side .form form {
  margin: 0 16%;
  height: 82%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.form-side .form form .username,
.password {
  border-bottom: 2px solid #bebebe;
  padding-bottom: 5px;
  display: flex;
  transition: all 0.5s;
}

.form-side .form form i {
  color: #bebebe;
  transition: all 0.5s;
}

.form-side .form form input {
  border: none;
  width: 94%;
  color: #0093ed;
}

.form-side .form form input::placeholder {
  font-family: Shabnam;
  font-size: small;
  color: #bebebe;
  transition: all 0.5s;
}

/* hover and focus stuff */
.form-side .form form .username:hover {
  border-bottom: 2px solid #0093ed;
}
.form-side .form form .username:hover i {
  color: #0093ed;
}
.form-side .form form .username:hover input::placeholder {
  color: #0093ed;
}
.form-side .form form .username input:focus {
  outline: none;
}
.form-side .form form .username input:focus::placeholder {
  color: #0093ed;
}
.form-side .form form .username:focus-within {
  border-bottom: 2px solid #0093ed;
}
.form-side .form form .username:focus-within > i {
  color: #0093ed;
}
.form-side .form form .password:hover {
  border-bottom: 2px solid #0093ed;
}
.form-side .form form .password:hover i {
  color: #0093ed;
}
.form-side .form form .password:hover input::placeholder {
  color: #0093ed;
}
.form-side .form form .password input:focus {
  outline: none;
}
.form-side .form form .password input:focus::placeholder {
  color: #0093ed;
}
.form-side .form form .password:focus-within {
  border-bottom: 2px solid #0093ed;
}
.form-side .form form .password:focus-within > i {
  color: #0093ed;
}

.form-side .form form .validate {
    display: flex;
}

.form-side .form form .safe-code {
  border-bottom: 2px solid #bebebe;
  width: 63%;
  padding-bottom: 5px;
  display: flex;
  transition: all 0.5s;
}
.form-side .form form .safe-code:hover {
    border-bottom: 2px solid #0093ed;
  }
  .form-side .form form .safe-code:hover i {
    color: #0093ed;
  }
  .form-side .form form .safe-code:hover input::placeholder {
    color: #0093ed;
  }
  .form-side .form form .safe-code input:focus {
    outline: none;
  }
  .form-side .form form .safe-code input:focus::placeholder {
    color: #0093ed;
  }
  .form-side .form form .safe-code:focus-within {
    border-bottom: 2px solid #0093ed;
  }
  .form-side .form form .safe-code:focus-within > i {
    color: #0093ed;
  }
.form-side .form form .safe-code::placeholder {
  font-family: Shabnam;
  font-size: small;
  color: #bebebe;
  transition: all 0.5s;
}

.form-side .form form .validate img {
    width: 37%;
}

.form-side .form form .remember-section {
  display: flex;
  justify-content: flex-start;
}
